<template>
  <Layout activeSection="anti-air">
    <a href="https://azurlane.koumakan.jp/List_of_AA_Guns">Wiki</a>

    <blockquote>
    <p>Конечная статка по AA орудиям расчитывается как среднее по всему флоту. Поэтому для кораблей с хорошим релоадом ставим медленные, но сильные орудия, а для кораблей со слабым — быстрые. Обычно распределяется так: медленные на DD/CL, быстрые на BB/CV.</p>
    <p>Также не забываем про множитель AA у самого корабля, обычно он высокий у CL. Для кораблей с низким множителем, можно ставить орудия с малым DMG, но большим RNG и RLD, тем самым увеличивая AA статку всего флота.</p>
    </blockquote>

    <p>Далее приведены DMG, RLD, RNG и DPS при <strong>максимальной</strong> прокачке.</p>

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <span class="critery">DPS <code>{{ gear.dps }}</code></span>
              <span class="critery">DMG <code>{{ gear.dmg }}</code></span>
              <span class="critery">RLD <code>{{ gear.rld }}</code></span>
              <span class="critery">RNG <code>{{ gear.rng }}</code></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearAntiAir (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        comment
        dps
        dmg
        rld
        rng
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dps': {title: 'DPS', get: (o) => parseFloat(o.dps) || o.dps},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg) * (parseInt(o.pattern) || o.pattern)},
        'rld': {title: 'RLD', get: (o) => parseFloat(o.rld) || o.rld},
        'rng': {title: 'RNG', get: (o) => parseInt(o.rng) || o.rng},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Высокий RNG': 'tag-1',
        'Быстрый RLD': 'tag-2'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.tag === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Anti-Air Guns'
  }
}
</script>
