<template>
  <Layout activeSection="aux-guns">
    <blockquote>
    <p>Релоад у второстепенного оружия для BB не важен, важен DMG (с первого выстрела уничтожить бомб-катер) и SPR (охватить как можно большую площадь).</p>
    <p>Снаряды AP оружия летят быстрее, чем HE. Это может играть ключевую роль против быстрых катеров.</p>
    </blockquote>

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterGunValues"
            :key="'f_g'+value"
            class="chip" :class="{active: filterGun === value}"
            @click.prevent.stop="filterGun = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <b class="critery">{{ gear.ammo }}</b>
              <span class="critery">{{ gear.gun }}-gun</span>
              <span class="critery">{{ gear.pattern }}</span>
              <span class="critery">DMG<code>{{ gear.dmg }}</code></span>
              <span class="critery">SPR<code>{{ gear.spr }}</code></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearAuxGuns (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        labels
        comment
        ammo
        gun
        pattern
        multiplier
        dmg
        rld
        spr
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg)},
        'spr': {title: 'SPR', get: (o) => parseInt(o.spr.replace('°', '')) || o.spr},
      },

      filterGun: 0,
      filterGunValues: {
        'Все': 0,
        'DD оружие': 'DD',
        'CL оружие': 'CL'
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'AP': 'AP',
        'HE': 'HE'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Gun
      if (this.filterGun !== 0) {
        data = _.filter(data, n => n.gun === this.filterGun)
      }
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.ammo === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Auxiliary Guns'
  }
}
</script>
