<template>
  <Layout activeSection="bb-guns">
    <a href="https://azurlane.koumakan.jp/List_of_Battleship_Guns">Wiki</a>

    <Spoiler id="armor-modifier-bb" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th></tr>
        <tr><td>Normal</td><td>70%</td><td>100%</td><td>90%</td></tr>
        <tr><td>HE</td><td>140%</td><td>110%</td><td>90%</td></tr>
        <tr><td>AP</td><td>45%</td><td>130%</td><td>110%</td></tr>
        <tr><td>AP+</td><td>55%</td><td>145%</td><td>125%</td></tr>
        <tr><td>Type 3 Shell</td><td>140%</td><td>110%</td><td>90%</td></tr>
        <tr><td>Type 3 Shell Fragments</td><td>145%</td><td>105%</td><td>70%</td></tr>
        <tr><td>Super-Heavy Shell (Massachusetts)</td><td>60%</td><td>135%</td><td>115%</td></tr>
      </table>
    </Spoiler>

    <blockquote>
    <p>Ручное наведение орудия даёт +20% к урону.</p>
    <p>Некоторые золотые оружия дают +45 к Firepower, и даже если оно само по себе не очень, можно поставить и получить прирост урона для AUX орудий или для скиллов (например, Erebus/Terror).</p>
    <p>HE орудия имеют 50% шанс поджечь противника, Type 3 Shell — 30%.</p>
    </blockquote>

    <mark>TL;DR</mark>: Обычно выбор сводится к
      <span class="inline-gear sm rainbow tooltip" data-tooltip="Twin 457mm (Mark A Prototype) T0"><img src="/bb/14500.png" /></span>
      <span class="inline-gear sm gold tooltip" data-tooltip="Triple 410mm Prototype (10th Year Type) T0"><img src="/bb/34180.png" /></span>
      <span class="inline-gear sm purple tooltip" data-tooltip="Triple 406mm MK6 Main Gun T3"><img src="/bb/14300.png" /></span>
      для урона,
      <span class="inline-gear sm gold tooltip" data-tooltip="Twin 381mm Advanced Main Gun T0"><img src="/bb/24300.png" /></span>
      <span class="inline-gear sm gold tooltip" data-tooltip="Twin 406mm (SK C/34 Prototype) T0"><img src="/bb/44200.png" /></span>
      для активации скилла
      и <span class="inline-gear sm purple tooltip" data-tooltip="410mm Mounted Gun T3"><img src="/bb/34100.png" /></span> для баланса между уроном и активацией скилла.
      <br/>
    По умолчанию отсортировано по убыванию теоретического DPS (зависит от множества факторов и на практике урон может существенно отличаться).

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <b class="critery">{{ gear.ammo }}</b>
              <span class="critery">{{ gear.pattern }}</span>
              <span class="critery">DMG<code>{{ gear.dmg }}</code></span>
              <span class="critery">RLD<code>{{ gear.rld }}</code></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearBbGuns (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        comment
        ammo
        pattern
        dmg
        rld
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg)},
        'rld': {title: 'RLD', get: (o) => parseFloat(o.rld) || o.rld},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Normal': 'tag-1',
        'AP': 'tag-2',
        'HE': 'tag-3',
        'Sanshikidan': 'tag-4'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.tag === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Battleship (BB) Guns'
  }
}
</script>
