<template>
  <Layout activeSection="blueprints-drop">
    <a href="https://azurlane.koumakan.jp/Equipment_Drop_Table">Wiki</a>

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>

      <div class="filter-body gear-grid" v-for="g in gears" :key="g[0]">
        <h4 class="inline-section">{{ g[0] }}</h4>
        <div class="filter-item tile gear tooltip"
            v-for="gear in g[1]"
            :key="gear.id"
            :data-drop="gear.drop || 'none'"
            :data-tooltip="gear.name">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGears (perPage: 1000) {
    edges {
      node {
        id
        name
        icon
        color
        category
        maps
        drop
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      maps: _.flatMap(_.range(1, 14), x => [x + '-1', x + '-2', x + '-3', x + '-4']),

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Torpedo': 'torpedo',
        'AA': 'anti-air',
        'CA Main': 'ca-guns',
        'CL Main': 'cl-guns',
        'DD Main': 'dd-guns',
        'BB Main': 'bb-guns',
        'Fighters': 'fighters',
        'Dive Bombers': 'dive-bombers',
        'Torpedo Bombers': 'torpedo-bombers',
      }
    }
  },
  methods: {
    containsInMap(gear, map) {
      return _.some(gear.maps, m => m === map)
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      data = _.filter(data, g => g.maps.length > 0)
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.category === this.filterType)
      }
      data = _.reverse(data)
      return _.chain(_.range(1, 14))
        .flatMap(x => [x + '-1', x + '-2', x + '-3', x + '-4'])
        .map(map => [map, _.filter(data, gear => this.containsInMap(gear, map))])
        .filter(g => g[1].length > 0)
        .value()
    }
  },
  metaInfo: {
    title: 'Blueprints drop'
  }
}
</script>
