<template>
  <Layout activeSection="ca-guns">
    <a href="https://azurlane.koumakan.jp/List_of_Heavy_Cruiser_Guns">Wiki</a>

    <Spoiler id="armor-modifier-ca" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th><th>Shell Speed</th></tr>
        <tr><td>Normal</td><td>100%</td><td>90%</td><td>50%</td><td>180</td></tr>
        <tr><td>Normal PR</td><td>115%</td><td>110%</td><td>90%</td><td>200</td></tr>
        <tr><td>Normal DR</td><td>115%</td><td>115%</td><td>95%</td><td>200</td></tr>
        <tr><td>HE</td><td>135%</td><td>95%</td><td>70%</td><td>160</td></tr>
        <tr><td>AP</td><td>75%</td><td>110%</td><td>75%</td><td>220</td></tr>
        <tr><td>SAP</td><td>65%</td><td>125%</td><td>65%</td><td>220</td></tr>
      </table>
    </Spoiler>
    
    <blockquote>
    <p>На кораблях с низким Firepower, орудия с высоким PWR и низким DPS, могут подойти лучше, чем орудия с высоким DPS, но низким PWR.</p>
    <p>HE орудия имеют 8% шанс поджечь противника, а AP могут нанести урон по двум целям сразу.</p>
    </blockquote>

    <mark>TL;DR</mark>: Обычно выбор сводится к AP: 
      <span class="inline-gear sm gold"><img src="/ca/43060.png" /></span>
      <span class="inline-gear sm gold"><img src="/ca/43000.png" /></span>
      <span class="inline-gear sm purple"><img src="/ca/43000.png" /></span>
      и HE:
      <span class="inline-gear sm gold"><img src="/ca/7300.png" /></span>
      <span class="inline-gear sm gold"><img src="/ca/33060.png" /></span>
      <span class="inline-gear sm purple"><img src="/ca/33000.png" /></span>
      в зависимости от скилла или противников на карте.

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <b class="critery">{{ gear.ammo }}</b>
              <span class="critery">{{ gear.pattern }}</span>
              <span class="critery">DPS L<code>{{ gear.dpsL }}</code></span>
              <span class="critery">DPS M<code>{{ gear.dpsM }}</code></span>
              <span class="critery">DPS H<code>{{ gear.dpsH }}</code></span>
              <span class="critery">DMG<code>{{ gear.dmg }}</code></span>
              <span class="critery">RLD<code>{{ gear.rld }}</code></span>
              <span class="critery">SPR<code>{{ gear.spr }}</code></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearCaGuns (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        comment
        ammo
        pattern
        dpsL
        dpsM
        dpsH
        dmg
        rld
        spr
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dpsL': {title: 'DPS-L', get: (o) => parseFloat(o.dpsL) || o.dpsL},
        'dpsM': {title: 'DPS-M', get: (o) => parseFloat(o.dpsM) || o.dpsM},
        'dpsH': {title: 'DPS-H', get: (o) => parseFloat(o.dpsH) || o.dpsH},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg)},
        'rld': {title: 'RLD', get: (o) => parseFloat(o.rld) || o.rld},
        'spr': {title: 'SPR', get: (o) => parseInt(o.spr.replace('°', '')) || o.spr},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Normal': 'tag-1',
        'AP': 'tag-2',
        'HE': 'tag-3'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.tag === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Heavy Cruiser (CA) Guns'
  }
}
</script>
