<template>
  <Layout activeSection="dd-guns">
    <a href="https://azurlane.koumakan.jp/List_of_Destroyer_Guns">Wiki</a>

    <Spoiler id="armor-modifier-dd" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th></tr>
        <tr><td>Normal</td><td>100%</td><td>50%</td><td>20%</td></tr>
        <tr><td>Normal+</td><td>100%</td><td>60%</td><td>20%</td></tr>
        <tr><td>HE</td><td>120%</td><td>60%</td><td>60%</td></tr>
        <tr><td>AP</td><td>90%</td><td>70%</td><td>40%</td></tr>
      </table>
    </Spoiler>

    <blockquote>
      <mark>TL;DR</mark>
      <br/><span class="inline-gear sm blue"><img src="/dd/11000.png" /></span> для кораблей со скиллом и относительно плохим Firepower.
      <br/><span class="inline-gear sm gold"><img src="/dd/31000.png" /></span> для баланса между уроном и скиллом.
      <br/><span class="inline-gear sm gold"><img src="/dd/50100.png" /></span> <span class="inline-gear sm gold"><img src="/dd/11200.png" /></span> для урона.
      <br/><span class="inline-gear sm purple"><img src="/dd/41100.png" /></span> если нужен AP.
      <br/><span class="inline-gear sm purple"><img src="/dd/11100.png" /></span> <span class="inline-gear sm purple"><img src="/dd/11200.png" /></span> в остальных случаях.
    </blockquote>

    <p>Здесь под скиллом имеется в виду gun-based скилл, который активируется от частоты стрельбы основного оружия. Подробнее в вики <a href="https://azurlane.koumakan.jp/Barrage#Details">Barrage</a>.</p>
    
    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <b class="critery">{{ gear.ammo }}</b>
              <span class="critery">{{ gear.pattern }}</span>
              <span class="critery"><code>{{ gear.multiplier }}</code></span>
              <span class="critery">DMG<code>{{ gear.dmg }}</code></span>
              <span class="critery">RLD<code>{{ gear.rld }}</code></span>
              <span class="critery">SPR<code>{{ gear.spr }}</code></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearDdGuns (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        labels
        comment
        ammo
        multiplier
        pattern
        dmg
        rld
        spr
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'mul': {title: 'MULT', get: (o) => parseInt(o.multiplier.substring(0, 3)) || o.multiplier},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg)},
        'rld': {title: 'RLD', get: (o) => parseFloat(o.rld) || o.rld},
        'spr': {title: 'SPR', get: (o) => parseInt(o.spr.replace('°', '')) || 0},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Normal': 'tag-1',
        'AP': 'tag-2',
        'HE': 'tag-3'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.tag === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Destroyers (DD) Guns'
  }
}
</script>
