<template>
  <Layout activeSection="dive-bombers">
    <a href="https://azurlane.koumakan.jp/List_of_Dive_Bombers">Wiki</a>

    <Spoiler id="armor-modifier-divebombers" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th></tr>
        <tr><td>100lb</td><td>80%</td><td>85%</td><td>100%</td></tr>
        <tr><td>500lb</td><td>80%</td><td>90%</td><td>110%</td></tr>
        <tr><td>1000lb</td><td>80%</td><td>95%</td><td>115%</td></tr>
        <tr><td>1600lb</td><td>75%</td><td>100%</td><td>120%</td></tr>
        <tr><td>2000lb</td><td>70%</td><td>105%</td><td>125%</td></tr>
      </table>
    </Spoiler>
    
    <blockquote>
    <p>На DMG не смотрим, для авиации важны RoF, HP и список того, что они с собой несут.</p>
    <p>T3 всегда предпочтительнее. Один и тот же набор бомб/AA пушек на T3 будет наносить больше урона, чем на T2. T1/T2 можно дропать.</p>
    <p><span class="label label-warning">PvP</span> Чем больше HP у истребителя, тем сложнее его сбить и тем больший урон он наносит, когда залетает за экран.</p>
    </blockquote>

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterBombValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterBomb === value}"
            @click.prevent.stop="filterBomb = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterAAValues"
            :key="'f_aa'+value"
            class="chip" :class="{active: filterAA === value}"
            @click.prevent.stop="filterAA = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <span class="critery tooltip" data-tooltip="Fire rate">RoF: <code>{{ gear.rof }}</code></span>
              <span class="critery tooltip" data-tooltip="HP истребителей">HP: <code>{{ gear.planeHealth }}</code></span>
             <span class="critery tooltip" data-tooltip="Скорость полёта">SPD: <code>{{ gear.speed }}</code></span>
              <span class="critery tooltip" data-tooltip="Evasion Limit">EVA: <code>{{ gear.dodge }}</code></span>
              <span class="critery tooltip" data-tooltip="Урон при вылете за экран">Crash: <code>{{ gear.crashDmg }}</code></span>
              <template v-if="gear.bombs">
                <br/>Bombs:
                <span class="critery" v-for="bomb in gear.bombs" :key="bomb"><code>{{ bomb }}</code></span>
              </template>
              <template v-if="gear.aa">
                <br/>AA:
                <span class="critery" v-for="aa in gear.aa" :key="aa"><code>{{ aa }}</code></span>
              </template>
            </p>
          </div>
        </div>
      </div>
    </div>

  </Layout>
</template>

<page-query>
query {
  gears: allGearDiveBombers (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        comment
        rof
        bombs
        aa
        planeHealth
        speed
        dodge
        crashDmg
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

const NO_FILTER_BOMB = 0
const NO_FILTER_AA = 0

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'rof': {title: 'RoF', get: (o) => parseFloat(o.rof) || o.rof},
        'planeHealth': {title: 'HP', get: (o) => parseInt(o.planeHealth) || o.planeHealth},
        'speed': {title: 'SPD', get: (o) => parseInt(o.speed) || o.speed},
        'dodge': {title: 'EVA', get: (o) => parseFloat(o.dodge) || o.dodge},
        'crashDmg':  {title: 'Crash', get: (o) => parseInt(o.crashDmg) || o.crashDmg},
      },

      filterBomb: NO_FILTER_BOMB,
      filterBombValues: {
        'Все': NO_FILTER_BOMB,
        '100lb': 100,
        '500lb': 500,
        '1000lb': 1000,
        '1600lb': 1600,
        '2000lb': 2000
      },

      filterAA: NO_FILTER_AA,
      filterAAValues: {
        'Все': NO_FILTER_AA,
        '7.7mm': '7.7mm',
        '7.92mm': '7.92mm',
        '12.7mm': '12.7mm',
        '20mm': '20mm',
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Contains bomb
      if (this.filterBomb !== NO_FILTER_BOMB) {
        const searchBomb = bomb => bomb.substring(bomb.indexOf('×') + 1) == this.filterBomb
        data = _.filter(data, n => _.find(n.bombs, searchBomb) !== undefined)
      }
      // Contains AA
      if (this.filterAA !== NO_FILTER_AA) {
        const searchAA = aa => aa.substring(aa.indexOf('×') + 1).indexOf(this.filterAA) >= 0
        data = _.filter(data, n => _.find(n.aa, searchAA) !== undefined)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Dive Bombers'
  }
}
</script>
