<template>
  <Layout activeSection="index">
    <h1><Logo fill="#007fff" style="height: 32px; vertical-align: middle;" animate /> Azur Gears</h1>
    <div class="mb-2" v-for="s in sections" :key="s.id">
      <h3>{{ s.title }}</h3>
      <div v-for="p in s.pages" :key="p.url"
           class="d-inline-block px-2 mb-2">
        <a :href="p.url" :target="p.external ? '_blank' : ''">{{ p.title }}</a>
      </div>
    </div>

    <h3>Changelog</h3>
    <Timeline :data="commits"/>
  </Layout>
</template>

<static-query>
query {
  sections: allSection (sortBy: "pos", order: ASC) {
    edges {
      node {
        id
        title
        section
      }
    }
  }
  commits: allCommits (sortBy: "date", order: DESC) {
    edges {
      node {
        id
        title
        date
      }
    }
  }
}
</static-query>

<script>
import _ from 'lodash'
import moment from 'moment'
import Logo from '~/components/Logo.vue'
import Timeline from '~/components/Timeline.vue'

export default {
  metaInfo: {
    title: 'Azur Lane Equipment'
  },
  computed: {
    commits() {
      return _.chain(this.$static.commits.edges)
              .map(e => e.node)
              .groupBy(commit => moment(commit.date).format('YYYY-MM-DD'))
              .value()
    },
    sections() {
      const sections = []
      for (const e of this.$static.sections.edges) {
        const s = e.node
        if (_.has(s, 'section') && s.section) {
          sections.push(_.assign(s, {pages: []}))
        } else {
          sections[sections.length - 1].pages.push( _.assign(s, {
            external: s.id.startsWith('http'),
            url: (s.id.startsWith('http') ? '' : '/') + s.id
          }))
        }
      }
      return sections
    }
  },
  components: {
    Logo, Timeline
  }
}
</script>