<template>
  <Layout activeSection="ships-stats" :isDetached="isDetached">
    <a href="https://azurlane.koumakan.jp/List_of_Ships_by_Stats">Wiki</a>
    <img class="icon c-hand float-right" src="/icons/fullscreen.png" alt="fullscreen" title="Развернуть" @click.stop="isDetached = !isDetached">

    <blockquote>
      Статистика кораблей при максимальном уровне Affinity.
    </blockquote>

    <div class="filter">
      <Spoiler id="filter-ships" title="Фильтр" :isOpen="true">
        <table class="table">
          <tr>
            <td>Rarity</td>
            <td><FilterToggle :items="rarities"></FilterToggle></td>
          </tr>
          <tr>
            <td>Nation</td>
            <td><FilterToggle :items="filterNations"></FilterToggle></td>
          </tr>
          <tr>
            <td>Type</td>
            <td><FilterToggle :items="filterTypes"></FilterToggle></td>
          </tr>
          <tr>
            <td>Armor</td>
            <td><FilterToggle :items="filterArmor"></FilterToggle></td>
          </tr>
          <tr>
            <td>Global</td>
            <td><FilterToggle :items="filterGlobal"></FilterToggle></td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="d-inline-block" style="width: 6em">Level {{ level }}</span>
              <span
                  v-for="lvl in [1, 100, 120]"
                  :key="lvl"
                  class="chip" :class="{active: level == lvl}"
                  @click.prevent.stop="setLevel(lvl)">{{ lvl }}</span>
              <span class="text-gray" v-show="inaccurateStats">
                Вычисленные значения могут быть неточными
              </span>
              <br>
              <input class="slider my-1" type="range"
                    min="1" max="120" v-model.number="levelComputed">
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="form-label" for="search-input">Поиск
                <span class="text-gray">(ID или название кораблей, через запятую)</span></label>
              <input class="form-input" type="text" v-model="searchCritery" id="search-input" placeholder="Belfast, Leander, 32">
            </td>
          </tr>
        </table>
      </Spoiler>

      <table class="table table-scroll table-striped table-hover table-sortable">
        <thead>
          <tr>
            <th
              v-for="column in columns" :key="column.name"
              :class="['c-hand', column.tooltip ? 'tooltip tooltip-bottom' : '', column.name === sortBy ? 'active' : '']"
              :data-tooltip="column.tooltip"
              @click.prevent.stop="setSort(column.name)">
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ship in ships" :key="ship.id">
            <td>{{ ship.id }}</td>
            <td><a :href="ship.link" target="_blank">{{ ship.name }}</a></td>
            <td :style="{background: ship.rarityStyle}">{{ ship.rarityName }}</td>
            <td>{{ ship.nation }}</td>
            <td>{{ ship.type }}</td>
            <td>{{ ship.health }}</td>
            <td>{{ ship.firepower }}</td>
            <td>{{ ship.antiAir }}</td>
            <td>{{ ship.torpedo }}</td>
            <td>{{ ship.evasion }}</td>
            <td>{{ ship.aviation }}</td>
            <td>{{ ship.cost }}</td>
            <td>{{ ship.reload }}</td>
            <td>{{ ship.armor }}</td>
            <td>{{ ship.speed }}</td>
            <td>{{ ship.asw }}</td>
            <td>{{ ship.oxygen }}</td>
            <td>{{ ship.ammo }}</td>
            <td>{{ ship.accuracy }}</td>
            <td>{{ ship.luck }}</td>
            <td>{{ ship.class }}</td>
          </tr>
        </tbody>
      </table>

      <div style="padding: 2rem 0"></div>

    </div>
  </Layout>
</template>

<page-query>
query {
  ships: allShips (perPage: 1000, sortBy: "id", order: ASC) {
    edges {
      node {
        id
        name
        rarity
        nation
        class
        type
        armor
        globalType
        level1 {
          health
          firepower
          antiAir
          torpedo
          evasion
          aviation
          cost
          reload
          speed
          asw
          oxygen
          ammo
          accuracy
          luck
        }
        level100 {
          health
          firepower
          antiAir
          torpedo
          evasion
          aviation
          cost
          reload
          speed
          asw
          oxygen
          ammo
          accuracy
          luck
        }
        level120 {
          health
          firepower
          antiAir
          torpedo
          evasion
          aviation
          cost
          reload
          speed
          asw
          oxygen
          ammo
          accuracy
          luck
        }
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'
import FilterToggle from '~/components/FilterToggle.vue'

export default {
  data() {
    return {
      isDetached: false,
      searchCritery: '',
      level: 100,

      rarities: [
        {name: 'Common', enabled: true, style: '#dcdcdc'},
        {name: 'Rare', enabled: true, style: '#b0e0e6'},
        {name: 'Elite', enabled: true, style: '#dda0dd'},
        {name: 'Super Rare', enabled: true, style: '#eee8aa'},
        {name: 'Ultra Rare', enabled: true, style: 'linear-gradient(to bottom right, #aaffaa 15%, #aaaaff, #ffaaaa 85%)'},
        {name: 'Priority', enabled: true, style: '#eee8aa'},
        {name: 'Decisive', enabled: true, style: 'linear-gradient(to bottom right, #aaffaa 15%, #aaaaff, #ffaaaa 85%)'},
      ],

      filterNations: [
        {name: 'Universal', enabled: true},
        {name: 'Eagle Union', enabled: true},
        {name: 'Royal Navy', enabled: true},
        {name: 'Sakura Empire', enabled: true},
        {name: 'Iron Blood', enabled: true},
        {name: 'Dragon Empery', enabled: true},
        {name: 'Northern Parliament', enabled: true},
        {name: 'Iris Libre', enabled: true},
        {name: 'Vichya Dominion', enabled: true},
        {name: 'Sardegna Empire', enabled: true},
        {name: 'Neptunia', enabled: true},
        {name: 'Bilibili', enabled: true},
        {name: 'Utawarerumono', enabled: true},
        {name: 'KizunaAI', enabled: true},
        {name: 'Hololive', enabled: true},
        {name: 'Venus Vacation', enabled: true},
      ],

      // _.uniq( _.map(data, 'type')
      filterTypes: [
        {name: 'DD', enabled: true},
        {name: 'CL', enabled: true},
        {name: 'CA', enabled: true},
        {name: 'BB', enabled: true},
        {name: 'CVL', enabled: true},
        {name: 'CV', enabled: true},
        {name: 'AR', enabled: true},
        {name: 'AE', enabled: true},
        {name: 'BC', enabled: true},
        {name: 'BM', enabled: true},
        {name: 'SS', enabled: true},
        {name: 'SSV', enabled: true},
        {name: 'BBV', enabled: true},
        {name: 'CB', enabled: true},
      ],

      filterArmor: [
        {name: 'Light', enabled: true},
        {name: 'Medium', enabled: true},
        {name: 'Heavy', enabled: true},
      ],

      filterGlobal: [
        {name: 'Normal', enabled: true},
        {name: 'Retrofit', enabled: true},
        {name: 'Collab', enabled: false},
        {name: 'Plan', enabled: true},
      ],

      sortBy: 'ID',
      sortDirection: 1,
      columns: [
        {name: 'ID', get: (o) => _.parseInt(o.id) || o.id},
        {name: 'Name', get: 'name'},
        {name: 'Rarity', get: 'rarity'},
        {name: 'Nation', get: 'nation'},
        {name: 'Type', get: 'type'},
        {name: '❤', tooltip: 'Health', get: 'health'},
        {name: 'PWR', tooltip: 'Firepower', get: 'firepower'},
        {name: 'AA', tooltip: 'Anti-air', get: 'antiAir'},
        {name: 'TRP', get: 'torpedo'},
        {name: 'EVA', tooltip: 'Evasion', get: 'evasion'},
        {name: 'AVI', tooltip: 'Aviation', get: 'aviation'},
        {name: 'OIL', tooltip: 'Oil consumption', get: 'cost'},
        {name: 'RLD', tooltip: 'Reload', get: 'reload'},
        {name: 'Armor', get: 'armor'},
        {name: 'SPD', get: 'speed'},
        {name: 'ASW', tooltip: 'Anti-Submarine Warfare', get: 'asw'},
        {name: 'OXY', tooltip: 'Oxygen', get: 'oxygen'},
        {name: 'Ammo', get: 'ammo'},
        {name: 'Acc', tooltip: 'Accuracy', get: 'accuracy'},
        {name: 'Luck', get: 'luck'},
        {name: 'Class', get: 'class'},
      ]
    }
  },
  methods: {
    containsInMap(gear, map) {
      return _.some(gear.maps, m => m === map)
    },
    search(ship, critery) {
      if (critery.length <= 0) return false
      if (ship.id.toString().toLowerCase() === critery) {
        return true
      }
      if (ship.name.toLowerCase().indexOf(critery) >= 0) {
        return true
      }
      return false
    },
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    setLevel(value) {
      this.level = value
    }    
  },
  computed: {
    levelComputed: {
      get() { return this.level },
      set: _.debounce(function(newLevel) {
        this.setLevel(newLevel)
      }, 250)
    },
    inaccurateStats() {
      return !_.includes([1, 100, 120], this.level)
    },
    ships() {
      let data = _.map(this.$page.ships.edges, e => {
        let node = e.node

        let rarity = this.rarities[node.rarity - 1]
        node.rarityName = rarity.name
        node.rarityStyle = rarity.style

        node.link = 'https://azurlane.koumakan.jp/' + (node.name.replace(' (Retrofit)', '#Retrofit').replace(' ', '_'))

        return node
      })

      // Search
      if (this.searchCritery.length > 0) {
        data = _.filter(data, ship => {
          let result = false
          for (const critery of this.searchCritery.split(',')) {
            result = result || this.search(ship, critery.trim().toLowerCase())
          }
          return result
        })
      }

      // Rarities
      data = _.filter(data, n => _.get(this.rarities, '[' + (n.rarity - 1) + '].enabled', false))

      // Nations
      data = _.filter(data, n => _.get(
        _.find(this.filterNations, f => n.nation === f.name),
        'enabled', false))

      // Types
      const types = _.keyBy(this.filterTypes, 'name')
      data = _.filter(data, n => _.get(types, n.type + '.enabled', false))

      // Types
      const armor = _.keyBy(this.filterArmor, 'name')
      data = _.filter(data, n => _.get(armor, n.armor + '.enabled', false))

      // Global
      const globalTypes = _.keyBy(this.filterGlobal, 'name')
      data = _.filter(data, n => _.get(globalTypes, n.globalType + '.enabled', false))

      // Stats for level
      if (_.includes([1, 100, 120], this.level)) {
        data = _.map(data, n => _.assign(n, n['level' + this.level]))
      } else {
        data = _.map(data, n => {
          const minLevel = (this.level < 100) ? 1 : 100
          const maxLevel = (this.level < 100) ? 100 : 120
          const min = n['level' + minLevel]
          const max = n['level' + maxLevel]
          const grad = (minLevel + maxLevel) / this.level
          return _.assign(n, {
            health: Math.round(min.health + (max.health - min.health) / grad),
            firepower: Math.round(min.firepower + (max.firepower - min.firepower) / grad),
            antiAir: Math.round(min.antiAir + (max.antiAir - min.antiAir) / grad),
            torpedo: Math.round(min.torpedo + (max.torpedo - min.torpedo) / grad),
            evasion: Math.round(min.evasion + (max.evasion - min.evasion) / grad),
            aviation: Math.round(min.aviation + (max.aviation - min.aviation) / grad),
            cost: Math.round(min.cost + (max.cost - min.cost) / grad),
            reload: Math.round(min.reload + (max.reload - min.reload) / grad),
            speed: Math.round(min.speed + (max.speed - min.speed) / grad),
            asw: Math.round(min.asw + (max.asw - min.asw) / grad),
            oxygen: Math.round(min.oxygen + (max.oxygen - min.oxygen) / grad),
            ammo: Math.round(min.ammo + (max.ammo - min.ammo) / grad),
            accuracy: Math.round(min.accuracy + (max.accuracy - min.accuracy) / grad),
            luck: Math.round(min.luck + (max.luck - min.luck) / grad)
          })
        })
      }

      // Sort
      if (this.sortBy === 'ID') {
        data = _.orderBy(data, this.columns[0], ['asc'])
        if (this.sortDirection !== 1) {
          data = _.reverse(data)
        }
      }
      const column = _.find(this.columns, col => col.name === this.sortBy)
      data = _.orderBy(data, [column.get], [this.sortDirection === 1 ? 'asc' : 'desc'])

      return data
    }
  },
  metaInfo: {
    title: 'Ships stats'
  },
  components: {
    FilterToggle
  }
}
</script>
