<template>
  <Layout activeSection="tech-boxes">
    <a href="https://azurlane.koumakan.jp/Equipment#Equipment_Box_Contents">Wiki</a>

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>

      <div class="filter-body gear-grid" v-for="box in boxes" :key="box">
        <h4 class="section">{{ box }} Tech Box</h4>
        <div class="filter-item tile gear tooltip"
            v-for="gear in gearsInBox(box)"
            :key="gear.id"
            :data-drop="gear.drop || 'none'"
            :data-tooltip="gear.name">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGears (perPage: 1000) {
    edges {
      node {
        id
        name
        icon
        color
        category
        techBoxes
        drop
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      boxes: ['Eagle Union', 'Royal Navy', 'Sakura Empire', 'Ironblood'], 

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Torpedo': 'torpedo',
        'AA': 'anti-air',
        'CA Main': 'ca-guns',
        'CL Main': 'cl-guns',
        'DD Main': 'dd-guns',
        'BB Main': 'bb-guns',
        'Fighters': 'fighters',
        'Dive Bombers': 'dive-bombers',
        'Torpedo Bombers': 'torpedo-bombers',
      }
    }
  },
  methods: {
    containsInBox(gear, box) {
      return _.some(gear.techBoxes, b => b === box)
    },
    gearsInBox(box) {
      let data = _.map(this.$page.gears.edges, e => e.node)
      data = _.filter(data, g => g.techBoxes.length > 0 && this.containsInBox(g, box))
      // Type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.category === this.filterType)
      }
      data = _.reverse(data)
      return data
    }
  },
  metaInfo: {
    title: 'Tech Boxes drop'
  }
}
</script>
