<template>
  <Layout activeSection="torpedo-bombers">
    <a href="https://azurlane.koumakan.jp/List_of_Torpedo_Bombers">Wiki</a>

    <Spoiler id="armor-modifier-torpbombers" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th></tr>
        <tr><td>Torpedoes</td><td>80%</td><td>110%</td><td>130%</td></tr>
      </table>
    </Spoiler>
    
    <blockquote>
    <p>Sakura-торпеды выстраиваются сходящимся веером для поражения точечной цели.<br/>Common-торпеды выстраиваются параллельно.</p>
    </blockquote>
    По умолчанию отсортировано по убыванию теоретического DPS (зависит от множества факторов и на практике урон может существенно отличаться).

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterAAValues"
            :key="'f_aa'+value"
            class="chip" :class="{active: filterAA === value}"
            @click.prevent.stop="filterAA = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <span class="critery">
                DMG<code>{{ gear.dmg }}</code>x<code>{{ gear.pattern }}</code>
              </span>
              <span class="critery tooltip" data-tooltip="Fire rate">RoF: <code>{{ gear.rof }}</code></span>
              <span class="critery tooltip" data-tooltip="HP истребителей">HP: <code>{{ gear.planeHealth }}</code></span>
              <span class="critery tooltip" data-tooltip="Скорость полёта">SPD: <code>{{ gear.speed }}</code></span>
              <span class="critery tooltip" data-tooltip="Evasion Limit">EVA: <code>{{ gear.dodge }}</code></span>
              <span class="critery tooltip" data-tooltip="Урон при вылете за экран">Crash: <code>{{ gear.crashDmg }}</code></span>
              <template v-if="gear.torpedoTypes">
                <br/>Torpedo:
                <span class="critery" v-for="torp in gear.torpedoTypes" :key="torp"><code>{{ torp }}</code></span>
              </template>
              <template v-if="gear.aa">
                <br/>AA:
                <span class="critery" v-for="aa in gear.aa" :key="aa"><code>{{ aa }}</code></span>
              </template>
            </p>
          </div>
        </div>
      </div>
    </div>

  </Layout>
</template>

<page-query>
query {
  gears: allGearTorpedoBombers (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        comment
        dmg
        pattern
        torpedoTypes
        rof
        aa
        planeHealth
        speed
        dodge
        crashDmg
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg) * (parseInt(o.pattern) || o.pattern)},
        'rof': {title: 'RoF', get: (o) => parseFloat(o.rof) || o.rof},
        'planeHealth': {title: 'HP', get: (o) => parseInt(o.planeHealth) || o.planeHealth},
        'speed': {title: 'SPD', get: (o) => parseInt(o.speed) || o.speed},
        'dodge': {title: 'EVA', get: (o) => parseFloat(o.dodge) || o.dodge},
        'crashDmg':  {title: 'Crash', get: (o) => parseInt(o.crashDmg) || o.crashDmg},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Common': 'Common',
        'Sakura': 'Sakura'
      },

      filterAA: 0,
      filterAAValues: {
        'Все': 0,
        '7.7mm': '7.7mm',
        '13mm': '13mm',
        '20mm': '20mm',
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Torpedo tyoe
      if (this.filterType !== 0) {
        const searchTorp = torp => torp.startsWith(this.filterType)
        data = _.filter(data, n => _.find(n.torpedoTypes, searchTorp) !== undefined)
      }
      // Contains AA
      if (this.filterAA !== 0) {
        const searchAA = aa => aa.substring(aa.indexOf('×') + 1).indexOf(this.filterAA) >= 0
        data = _.filter(data, n => _.find(n.aa, searchAA) !== undefined)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Torpedo Bombers'
  }
}
</script>
