<template>
  <Layout activeSection="torpedo">
    <a href="https://azurlane.koumakan.jp/List_of_Torpedoes">Wiki</a>

    <Spoiler id="armor-modifier-torp" title="Модификатор брони">
      <table class="table table-striped">
        <tr><th>Ammo Type</th><th>Light</th><th>Medium</th><th>Heavy</th><th>Torp Speed</th></tr>
        <tr><td>Normal</td><td>80%</td><td>100%</td><td>130%</td><td>30</td></tr>
        <tr><td>Magnetic</td><td>80%</td><td>100%</td><td>130%</td><td>20</td></tr>
        <tr><td>Oxygen (Sakura)</td><td>80%</td><td>100%</td><td>130%</td><td>40</td></tr>
      </table>
    </Spoiler>

    <blockquote>
    <p>INIT DPS — разовый урон торпед (тех, которые доступны сразу при старте боя).</p>
    <p>Ironblood торпеды передвигаются на 33% медленнее стандартных, а Sakura торпеды на 33% быстрее.</p>
    </blockquote>

    По умолчанию отсортировано по убыванию теоретического DPS (зависит от множества факторов и на практике урон может существенно отличаться).

    <div class="filter">
      <div class="filter-nav">
        <span
            v-for="(value, key) in filterTypeValues"
            :key="'f_b'+value"
            class="chip" :class="{active: filterType === value}"
            @click.prevent.stop="filterType = value">{{ key }}</span>
      </div>
      <div class="filter-nav">
        <span
            v-for="(s, key) in sortKeys"
            :key="'s_'+key"
            class="chip" :class="{active: sortBy === key}"
            @click.prevent.stop="setSort(key)"
            v-html="showSort(s, key)" />
      </div>

      <div class="filter-body" v-for="gear in gears" :key="gear.name">
        <div class="filter-item tile gear" :data-drop="gear.drop || 'none'" :data-tag="gear.tag">
          <div class="tile-icon" :class="gear.color">
            <img :src="gear.icon" />
          </div>
          <div class="tile-content">
            <h5 class="tile-title">
              <template v-if="gear.labels">
                <span class="label label-primary" v-for="label in gear.labels" :key="label">{{ label }}</span>
              </template>
              {{ gear.name }}
            </h5>
            <p class="tile-subtitle">
              <span v-if="gear.comment" v-html="gear.comment"></span>
              <br v-if="gear.comment">
              <DropInfo :techBoxes="gear.techBoxes" :maps="gear.maps" />
              <span class="critery">
                DMG<code>{{ gear.dmg }}</code>x<code>{{ gear.pattern }}</code>
              </span>
              <span class="critery">RLD<code>{{ gear.rld }}</code></span>
              <span class="critery">DPS L<code>{{ gear.dpsL }}</code></span>
              <span class="critery">DPS M<code>{{ gear.dpsM }}</code></span>
              <span class="critery">DPS H<code>{{ gear.dpsH }}</code></span>
              <span class="critery">SPR<code>{{ gear.spr }}</code></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query {
  gears: allGearTorpedo (sortBy: "pos", order: ASC) {
    edges {
      node {
        name
        icon
        color
        tag
        labels
        comment
        dmg
        pattern
        rld
        dpsL
        dpsM
        dpsH
        spr
        drop
        techBoxes
        maps
      }
    }
  }
}
</page-query>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sortBy: '$',
      sortDirection: 1,
      sortKeys: {
        '$': {title: '##', get: _.identity},
        'dmg': {title: 'DMG', get: (o) => (parseInt(o.dmg) || o.dmg) * (parseInt(o.pattern) || o.pattern)},
        'rld': {title: 'RLD', get: (o) => parseFloat(o.rld) || o.rld},
        'dpsL': {title: 'DPS-L', get: (o) => parseFloat(o.dpsL) || o.dpsL},
        'dpsM': {title: 'DPS-M', get: (o) => parseFloat(o.dpsM) || o.dpsM},
        'dpsH': {title: 'DPS-H', get: (o) => parseFloat(o.dpsH) || o.dpsH},
        'spr': {title: 'SPR', get: (o) => parseInt(o.spr.replace('°', '')) || o.spr},
      },

      filterType: 0,
      filterTypeValues: {
        'Все': 0,
        'Обычные': 'tag-7',
        'Самонаводящиеся': 'tag-8'
      }
    }
  },
  methods: {
    setSort(key) {
      if (key === this.sortBy) {
        this.sortDirection *= -1
      } else {
        this.sortDirection = 1
        this.sortBy = key
      }
    },
    showSort(s, key) {
      let result = s.title
      if (key === this.sortBy) {
        result = (this.sortDirection === 1 ? '▲' : '▼') + ' ' + result
      }
      return result
    }
  },
  computed: {
    gears() {
      let data = _.map(this.$page.gears.edges, e => e.node)
      // Torp type
      if (this.filterType !== 0) {
        data = _.filter(data, n => n.tag === this.filterType)
      }
      // Sort
      if (this.sortBy === '$' && this.sortDirection !== 1) {
        data = _.reverse(data)
      } else {
        data = _.orderBy(data, [this.sortKeys[this.sortBy].get], [this.sortDirection === 1 ? 'asc' : 'desc'])
      }
      return data
    }
  },
  metaInfo: {
    title: 'Torpedo'
  }
}
</script>
