<template>
  <div class="drop-info">
    <p v-if="arrayNotEmpty(techBoxes)">
      <img class="icon" src="/icons/t4box.png" alt="Tech Box" title="Можно получить в коробках" />
      <span class="critery" v-for="box in techBoxes" :key="box">{{ box }} Tech Box</span>
    </p>
    <p v-if="arrayNotEmpty(maps)">
      <img class="icon" src="/icons/blueprint.png" alt="Blueprint" title="Дроп дизайнов с карт" />
      <span class="critery" v-for="map in maps" :key="map">{{ map }}</span>
    </p>
  </div>
</template>

<script>
export default {
  props: ['techBoxes', 'maps'],
  methods: {
    arrayNotEmpty(arr) {
      return (typeof(arr) != 'undefined') && (arr.length > 0)
    }
  }
}
</script>

<style>
.drop-info .icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
</style>