<template>
  <span>
    <span
      v-for="f in items"
      :key="f.name"
      class="chip" :class="{active: f.enabled}"
      @click.ctrl.exact.prevent.stop="toggleOne(items, f)"
      @click.exact.prevent.stop="f.enabled = !f.enabled">{{ f.name }}</span>
  </span>
</template>

<script>
export default {
  props: ['items'],
  methods: {
    toggleOne(items, currentItem) {
      let allDisabled = true
      for (const item of items) {
        if (item.name != currentItem.name && item.enabled) {
          allDisabled = false
          break
        }
      }

      if (allDisabled) {
        // enable all but current
        for (const item of items) {
          item.enabled = (item.name != currentItem.name)
        }
      } else {
        // disable all but current
        for (const item of items) {
          item.enabled = (item.name == currentItem.name)
        }
      }
    }
  },
}
</script>
