<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20">
    <path :fill="fill" v-if="!animate" :d="path1" />
    <path :fill="fill" v-else>
      <animate
        repeatCount="indefinite"
        fill="freeze"
        attributeName="d"
        dur="4"
        :values="path1 + ';' + path2 + ';' + path1 + ';'"/>
    </path>
  </svg>
</template>

<script>
export default {
  props: {
    fill: String,
    animate: Boolean
  },
  data() {
    return {
      path1: 'M1.273 3.753v1.958c0 .966.823 1.74 1.803 1.74h1.088c.888 0 1.632.765 1.632 1.674 0 .458-.2.888-.558 1.21L4.565 11a1.762 1.762 0 0 0 0 2.491L6.16 15.08c.315.322.78.5 1.252.5.473 0 .93-.185 1.253-.5l.694-.687c.3-.337.73-.53 1.188-.53.916 0 1.682.745 1.682 1.625v1.088c0 .966.773 1.796 1.754 1.796h2.175c.974 0 1.747-.823 1.747-1.796v-1.088c0-.88.766-1.625 1.682-1.625.458 0 .887.2 1.216.551l.673.673c.322.315.78.501 1.253.501.472 0 .93-.186 1.252-.5l1.596-1.59a1.771 1.771 0 0 0 0-2.498l-.701-.687a1.578 1.578 0 0 1-.537-1.18c0-.917.744-1.675 1.632-1.675h1.088c.973 0 1.667-.766 1.667-1.74V3.753s-4.505-2.032-6.904-2.03c-2.405 0-4.519 2.025-6.924 2.03-2.37.005-4.443-2.03-6.813-2.03s-6.813 2.03-6.813 2.03z',
      path2: 'M1.273 1.636v4.075c0 .966.823 1.74 1.803 1.74h1.088c.888 0 1.632.765 1.632 1.674 0 .458-.2.888-.558 1.21L4.565 11a1.762 1.762 0 0 0 0 2.491L6.16 15.08c.315.322.78.5 1.252.5.473 0 .93-.185 1.253-.5l.694-.687c.3-.337.73-.53 1.188-.53.916 0 1.682.745 1.682 1.625v1.088c0 .966.773 1.796 1.754 1.796h2.175c.974 0 1.747-.823 1.747-1.796v-1.088c0-.88.766-1.625 1.682-1.625.458 0 .887.2 1.216.551l.673.673c.322.315.78.501 1.253.501.472 0 .93-.186 1.252-.5l1.596-1.59a1.771 1.771 0 0 0 0-2.498l-.701-.687a1.578 1.578 0 0 1-.537-1.18c0-.917.744-1.675 1.632-1.675h1.088c.973 0 1.667-.766 1.667-1.74V1.636s-4.505 2.202-6.904 2.203c-2.405 0-4.519-2.208-6.924-2.203-2.37.006-4.443 2.203-6.813 2.203S1.273 1.636 1.273 1.636z'
    }
  }
}
</script>

<style>
</style>