<template>
  <ul class="menu menu-nav">
    <li class="menu-item" :class="{active: isIndexActive}">
      <a class="sections-title text-bold" href="/">
        <Logo :fill="isIndexActive ? '#007fff' : '#7dbcfb'"
              style="width: 24px; vertical-align: middle;"
              :animate="isIndexActive" />
        Azur Gears
      </a>
    </li>
    <li class="menu-item"
        v-for="s in sections"
        :key="s.id"
        :class="{active: activeSection === s.id}">
      <h5 v-if="s.section" class="sections-title">{{ s.title }}</h5>
      <a v-else :href="s.url" :target="s.external ? '_blank' : ''">
        <img class="sections-icon" v-if="s.icon" :src="sectionIcon(s.icon)" :style="{background: s.bg}"/>
        <span v-else class="sections-icon null-icon"></span>
        {{ s.title }}
      </a>
    </li>
  </ul>
</template>

<static-query>
query Section {
  sections: allSection (sortBy: "pos", order: ASC) {
    edges {
      node {
        id
        title
        icon
        bg
        section
      }
    }
  }
}
</static-query>

<script>
import _ from 'lodash'
import Logo from '~/components/Logo.vue'

export default {
  props: ['activeSection'],
  methods: {
    sectionIcon(icon) {
      return (icon.startsWith('http') ? '' : '/icons/') + icon
    }
  },
  computed: {
    isIndexActive() {
      return this.activeSection === 'index'
    },
    sections() {
      return _.map(this.$static.sections.edges, e => _.assign(e.node, {
        external: e.node.id.startsWith('http'),
        url: (e.node.id.startsWith('http') ? '' : '/') + e.node.id
      }))
    }
  },
  components: {
    Logo
  }
}
</script>

<style>
.menu-item .sections-icon.null-icon {
  display: inline-block;
}
.menu-item .sections-icon,
.menu-item .sections-icon.null-icon {
  width: 24px;
}
.menu-item .sections-icon {
  vertical-align: top;
  height: 24px;
  background: #c3cee3;
  padding: 2px;
  border-radius: 2px;
  margin-right: 5px;
}
.menu-item .sections-title {
  margin: 0.7rem 0 0.3rem 0.4rem;
}
</style>