<template>
  <div class="accordion">
    <input type="checkbox" :id="id" :checked="isOpen" name="accordion-checkbox" hidden>
    <label class="accordion-header" :for="id">
      <i class="icon icon-arrow-right mr-1"></i>
      {{ title }}
    </label>
    <div class="accordion-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ['id', 'title', 'isOpen']
}
</script>
