<template>
  <div class="timeline">
    <div class="timeline-item" v-for="(events, datetime) in data" :key="datetime">
      <div class="timeline-left">
        <span class="timeline-icon icon-lg">
          <i class="icon icon-check"></i>
        </span>
      </div>
      <div class="timeline-content">
        <div class="tile">
          <div class="tile-content">
            <p class="tile-subtitle mb-2">{{ datetime | fromNow }}</p>
            <TimelineRow v-for="event in events" :event="event" :key="event.id"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import TimelineRow from '~/components/TimelineRow.vue'

const tenDaysAgo = moment().subtract(10, 'days')

export default {
  props: ['data'],
  filters: {
    fromNow(value) {
      const m = moment(value)
      if (m.isAfter(tenDaysAgo)) {
        return m.fromNow()
      }
      return m.format('YYYY-MM-DD')
    }
  },
  components: {
    TimelineRow
  }
}
</script>

<style>
</style>