<template>
  <a class="tile-title d-block mb-1"
     :href="'https://gitlab.com/annimon/azurgears/commit/' + event.id"
     target="_blank">{{ event.title }}</a>
</template>

<script>
export default {
  props: ['event']
}
</script>