.gear {
  margin: 0.4rem 0;
  width: 100%;
  padding: 0.4rem;
  border-radius: 12px;
}

.gear[data-drop="always"] {
  background: #fce9e9;
}
.gear[data-drop="conditionally"] {
  background: #f5f5f5;
}

.gear .tile-content {
  padding-left: 1rem !important;
  padding-top: .2rem !important;
}
.gear .tile-title, .gear-title {
  font-size: 110%;
  font-weight: 600;
}
.gear p, .gear .tile-title {
  margin: 0;
}
.gear .label {
  margin: 0 3px 0 0;
}

.gear .tile-icon img {
  width: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.gear .rainbow,
.inline-gear.rainbow {
  border-radius: 12px;
  border: 4px solid #b8d2d4;
  background-image: linear-gradient(to right, #69FFAD, #7899F4 40%, #CC6D9D);
}
.gear .gold,
.inline-gear.gold {
  border-radius: 12px;
  border: 4px solid #e6dcb2;
  background-color: #f5dc6e;
  background: linear-gradient(to right, #efd461 0%, #ead98b 50%, #efd461 100%);
}
.gear .purple,
.inline-gear.purple {
  border-radius: 12px;
  border: 4px solid #d09df5;
  background: #9560c9;
  background: linear-gradient(to right, #a57dcc 0%, #ba7fef 50%, #995cd5 100%);
}
.gear .blue,
.inline-gear.blue {
  border-radius: 12px;
  border: 4px solid #b2e1e6;
  background-color: #f5dc6e;
  background: linear-gradient(to right, #61c7ef 0%, #8be0ea 50%, #61c7ef 100%);
}

.inline-gear {
  display: inline-block;
  margin: 2px 0;
  border-radius: 4px !important;
  border-width: 2px !important;
}
.inline-gear.sm img {
  width: 100%;
  max-width: 32px;
  vertical-align: text-bottom;
}

.gear-pic {
  max-height: 140px;
}

.critery {
    padding-right: 1rem;
    color: #777;
}

.filter .chip {
  cursor: pointer;
}

.gear-grid .section {
  margin-top: .6rem !important;
  margin-bottom: .2rem !important;
  flex: 0 0 100%;
}
.gear-grid .inline-section {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.gear-grid .gear {
  width: inherit !important;
}
.gear-grid .tile-icon img {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 479px) {
  .gear .tile-icon img {
    width: 64px;
    max-width: 64px;
    vertical-align: middle;
  }
  .gear .tile-content {
    padding-left: .6rem !important;
    padding-top: .1rem !important;
  }
}