<template>
  <div class="container off-canvas off-canvas-sidebar-show" :class="{detached: isDetached}">
    <div class="header">
      <span class="off-canvas-toggle btn btn-primary btn-action" @click.stop="showSidebar">
        <i class="icon icon-menu"></i>
      </span>
    </div>
    <div id="sidebar" class="off-canvas-sidebar" :class="{active: isSidebarVisible}" v-click-outside="hideSidebar">
      <Sections :activeSection="activeSection" />
    </div>
    <span class="off-canvas-overlay"></span>
    <div class="off-canvas-content">
      <div class="columns detachable">
        <div class="column col-12 col-sm-12 col-mx-auto">
          <slot/>
        </div>
      </div>
    </div>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Sections from '~/components/Sections.vue'
export default {
  props: ['activeSection', 'isDetached'],
  components: {
    Sections
  },
  data() {
    return {
      isSidebarVisible: false
    }
  },
  methods: {
    showSidebar: function () {
      this.isSidebarVisible = true
    },
    hideSidebar: function() {
      this.isSidebarVisible = false
    }
  }
}
</script>

<style>
html, body {
  height: 100%;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.off-canvas-sidebar {
  position: fixed !important;
  min-width: 12rem !important;
}
.off-canvas-sidebar .menu {
  top: 0;
  overflow-y: auto;
  width: 12rem;
  padding: 0.4rem 0 !important;
}
.off-canvas-sidebar .menu-item a {
  padding-left: 1.3rem;
}
.off-canvas-content {
  padding: .6rem 4rem .6rem 15rem !important;
}
.off-canvas-content .column {
  max-width: 43rem;
}
.off-canvas .header {
  position: fixed;
  width: 100%;
  height: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.menu-item.active {
  background: #eee;
  color: #5755d9;
  border-right: 5px solid #5755d9;
  box-sizing: border-box;
}

.table-sortable th {
  color: #666;
  font-weight: 600 !important;
}
.table-sortable th.active {
  color: #000;
  text-decoration: underline;
}

.detached .detachable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: white;
  padding: 1.5rem;
  height: 100%;
}
.detached #sidebar {
  display: none;
}
.detached .off-canvas-content .column {
  max-width: inherit !important;
}

@media screen and (max-width: 960px) {
  .off-canvas-content {
    padding: .4rem !important;
    margin-top: 2.7rem;
  }
  .off-canvas .header {
    height: 2.7rem;
    background: rgba(247,248,249,.65);
  }
}
</style>
